In [37]:
import random
students = ["Sebastian", "Roger", "Jaylon", "Kanami","Binglin", "Vincent","Crystal", "Sagar","Hiroki", "Nakamoto","Yuri", "Justin","David"]

def whosnext():
    if not len(students):
        return 'No more students..!'
    student = random.choice(students)
    students.remove(student)
    return student

# Recap- Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [38]:
whosnext()

'David'

In [39]:
country = "United States"
print(country)

United States

Create an `animal` variable and assign your favorite animal to it. Print it

In [40]:
animal = "bird"
print(animal)

bird

Create an `animal_count` variable with any positive integer in it. Print it

In [41]:
animal_count = 3
print(animal_count)

3

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [42]:
print(f"I just ordered {animal_count} {animal}s from {country}")

I just ordered 3 birds from United States

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [43]:
whosnext()

'Crystal'

In [44]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Assign each variable's correct data types (`str`, `float`, `list`) to new variables called `pi_type`, `food_type`, and `colors_type`. Then run the lower cell. 

The cell should display `True` when you define the right data types.

In [45]:
pi_type = float
food_type = str
colors_type = list

In [46]:
type(pi) == pi_type \
and type(food) == food_type \
and type(colors) == colors_type

True

Let's try to work with other data types. This time there's no hint.

In [48]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the exercise from before with the new variables. Start by defining `user_profile_type`, `shapes_type`, and `age_valid_type`. Once again, the cell should display `True` when you're done.

In [49]:
user_profile_type = dict
shapes_type = tuple
age_valid_type = bool

In [50]:
type(shapes) == shapes_type \
and type(user_profile) == user_profile_type \
and type(age_valid) == age_valid_type

True

In [51]:
whosnext()

'Jaylon'

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [67]:
# YOUR CODE HERE
def credit_card_industry(card):
    number = card[0]
    card_industry = {
        "1": "airline",
        "4": "visa",
        "5": "mastercard"
    }
    return card_industry.get(number, "other")
#     if number == "1":
#         return "airline"
#     elif number == "4":
#         return "visa"
#     elif number == "5":
#         return "mastercard"
#     return "other"

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [68]:
credit_card_industry("4539 0132 4843 4768")

'visa'

In [69]:
credit_card_industry("5131 9376 6800 4058")

'mastercard'

In [70]:
credit_card_industry("9131 9376 6800 4058")

'other'

In [71]:
whosnext()

'Yuri'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [82]:
# YOUR CODE HERE
genres = ["SF","comedy","non-fiction"]

Add another genre to the list. Print the whole list.

In [83]:
# YOUR CODE HERE
genres.append("anime")
print(genres)

['SF', 'comedy', 'non-fiction', 'anime']

Change the name of the second genre on the list. Print the whole list

In [84]:
# YOUR CODE HERE
genres[1] = "Comedy"
print(genres)

['SF', 'Comedy', 'non-fiction', 'anime']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [85]:
# YOUR CODE HERE
genres.sort()
for i, genre in enumerate(genres):
    print(f"{i+1} - {genre}")

1 - Comedy
2 - SF
3 - anime
4 - non-fiction

In [112]:
letters = ['b', 'c', 'a']
# letters.sort()
sorted_letters = sorted(letters)
print(sorted_letters)

['a', 'b', 'c']

In [113]:
whosnext()

'Vincent'

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [132]:
movie = {
    "year":1991,
    "title":"Ms.Doubtfire"
}

print(movie)

{'year': 1991, 'title': 'Ms.Doubtfire'}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [133]:
movie["director"]= "THE DIRECTOR"
print(movie)

{'year': 1991, 'title': 'Ms.Doubtfire', 'director': 'THE DIRECTOR'}

Create a `movies` variable and initialize it with an empty list.

In [134]:
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [135]:
movie1 = {
    "year":1984,
    "title":"Terminator",
    "director":"James Cameron"
}

movie2 = {
    "year":1972,
    "title":"Godfather",
    "director": "Francis Ford Coppolla"
}

# movies.append(movie)
# movies.append(movie1)
# movies.append(movie2)

movies.extend([movie, movie1, movie2])

print(movies)

[{'year': 1991, 'title': 'Ms.Doubtfire', 'director': 'THE DIRECTOR'}, {'year': 1984, 'title': 'Terminator', 'director': 'James Cameron'}, {'year': 1972, 'title': 'Godfather', 'director': 'Francis Ford Coppolla'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [136]:
for movie in movies:
    
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

Ms.Doubtfire by THE DIRECTOR was released in 1991
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972

In [ ]:
whosnext()

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

What does `movie['actors']['support'][2]` return?

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [138]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [139]:
movie['title']['es']

KeyError: 'es'

In [140]:
movie['title'].get('es', 'lang not found')

'lang not found'

In [ ]:
whosnext()

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [143]:
# YOUR CODE HERE
actors = movie['actors']['lead'] + movie['actors']['support']
actors

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

In [137]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to calculate the total box office of the movie from `movie`

In [145]:
# YOUR CODE HERE
total_box_office = movie['box office USD']['USA'] + movie['box office USD']['rest_of_world']
total_box_office

1004934033

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [146]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [149]:
# YOUR CODE HERE
# total_box_office = 0
# for revenue in box_office.values():
#     total_box_office += revenue
# total_box_office

sum(box_office.values())

395000000